# Server specific files and directories
/server/.env

# Exclude node_modules in the server folder
/server/node_modules/

# Root directory specific files and directories
.DS_Store
/node_modules/

# Build output directory
/dist
